*{
  max-width: 800px;
  margin: 0 auto;
}
.Contenedor-header {
 
  background-color: #ffffff;
  padding: 10px;
 
  text-align: center;
}

.Contenedor-nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;
  
}

.ul-header {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 19px;
  text-align: center;
  justify-content: center;
  margin:0 auto;
}



.Header-a:hover {
  
  background-color: rgb(189, 189, 189);
  border-radius: 1px;
}
.Header-a {
  
  margin: 3px;
  color: #333333;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  
}

.Header-a:hover {
  color: #000000;
}

@media (max-width: 768px) {
  .Contenedor-nav-header {
    flex-direction: column;
    align-items: flex-start;
    
  }

  .hamburger {
    display: block;
  }

  .ul-header {
    max-height: 0;
    overflow: hidden;
    
  }

  .ul-header.show-nav {
    margin-top: 15px;
    text-align: left;
    display: block;
    max-height: 400px;
  }


  .hamburger.show-nav span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.show-nav span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.show-nav span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
}
